.paddle1 {
  width: 100px;
  height: 15px;
  background-color: red;
  border-radius: 4px;
  box-shadow: 2px 2px 2px;
}

.paddle2 {
  width: 100px;
  height: 15px;
  background-color: red;
  border-radius: 4px;
  box-shadow: 2px 2px 2px;
}
